In [1]:
import pyspark
import pandas as pd

In [30]:
pd.read_csv('test1.csv')

      Name  Age
0  Fortune   20
1   Amanda   22
2   Victor   20

In [ ]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [8]:
spark

In [14]:
df_spark = spark.read.csv("test1.csv")

In [31]:
df_spark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Fortune| 20|
| Amanda| 22|
| Victor| 20|
+-------+---+

In [16]:
spark_df = spark.read.option('header','true').csv('test1.csv')

In [18]:
spark_df.show()

+-------+---+
|   Name|Age|
+-------+---+
|Fortune| 20|
| Amanda| 22|
| Victor| 20|
+-------+---+

In [27]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [33]:
spark_df.dtypes

[('Name', 'string'), ('Age', 'string')]