In [1]:
import pyspark
import pandas as pd 
import numpy as np

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dfl').getOrCreate()

In [5]:
spark

In [7]:
filepath = "file3.csv"

In [10]:
df = spark.read.csv(filepath, header = True , inferSchema = True)

In [11]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [13]:
# LEt us get the salaries of people >= 15000

df.filter("salary >= 15000").show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|Sudhanshu|Data Science| 20000|
+---------+------------+------+

In [26]:
df.filter('salary > 8000').select(['Name', 'Departments']).show()

+---------+------------+
|     Name| Departments|
+---------+------------+
|    Krish|Data Science|
|Sudhanshu|Data Science|
|Sudhanshu|         IOT|
|    Sunny|Data Science|
+---------+------------+

In [42]:
df.filter((df['salary'] > 5000) |
            (df['salary'] < 17000)).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [46]:
# ~ returns the opposite
df.filter(~(df['salary'] > 16000)).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+