In [2]:
import pyspark
import pandas as pd

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName('AgG') \
        .getOrCreate()

filepath = "file3.csv"

df = spark.read.csv(filepath, header = True, inferSchema = True)

In [11]:
df.show(5)

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
| Krish|Data Science| 10000|
| Krish|         IOT|  5000|
|Mahesh|    Big Data|  4000|
| Krish|    Big Data|  4000|
|Mahesh|Data Science|  3000|
+------+------------+------+
only showing top 5 rows

In [12]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [27]:
df.groupBy('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [28]:
df.groupBy('name').avg().show()

+---------+------------------+
|     name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [30]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [34]:
df.agg({'salary' : 'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [37]:
df.agg({'Salary' : 'avg'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

In [39]:
df.agg({'Name':'last'}).show()

+----------+
|last(Name)|
+----------+
|     Sunny|
+----------+

In [40]:
df.agg({'Name':'count'}).show()

+-----------+
|count(Name)|
+-----------+
|         10|
+-----------+

In [41]:
df.agg({'Name':'first'}).show()

+-----------+
|first(Name)|
+-----------+
|      Krish|
+-----------+